/* --------------- about --------------- */
.about {

  h2 {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #d11b1c;
    line-height: 25px;
    font-weight: 700;
  }

  h3 {
    text-decoration: underline;
  }


  dl {

    &:last-child { margin-bottom: 10px; }

    dt {
      display: inline;
      font-weight: 700;
      text-decoration: underline;
    }

    dd { display: inline; }
  }

  ul {
    list-style-image: url(../img/bullet.png);
    margin: 0 14px 15px 0;

    li {
      margin: 3px 0;
    }
  }

  p {
    margin-bottom: 10px;
  }

  .about__shot {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      margin: 23px 0 15px 0;

      li {
        display: flex;
        margin-bottom: 23px;

        span {
          width: 90px;
          text-align: center;

          img { max-width: 100% }
        }

        p {
          width: calc(100% - 90px);
          max-width: 200px;
        }
      }
    }
  }
}

@media (min-width: $small) {
  .about {

  }
}

@media (min-width: $medium) {
  .about {

  }
}

@media (min-width: $large) {
  .about {

  }
}
/* --------------- /about--------------- */