/* --------------- logo --------------- */
.logo {
  @include absoluteCenter();

  &_footer {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 14px;
    transform: translate(0,0);
  }
}

@media (min-width: $small) {
  .logo {

  }
}

@media (min-width: $medium) {
  .logo {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 16px;
    transform: translate(0, 0);

    &_footer { margin-left: 0; }
  }
}

@media (min-width: $large) {
  .logo {

  }
}
/* --------------- /logo --------------- */
