/* --------------- logo --------------- */
.logo {
  @include absoluteCenterX();
  bottom: 0;

  img {
    display: block;
    max-width: 100%;
  }
}

@media (min-width: $small) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    transform: translate(0,0);
  }
}

@media (min-width: $medium) {
  .logo {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 16px;
    transform: translate(0, 0);
  }
}

@media (min-width: $large) {
  .logo {

  }
}
/* --------------- /logo --------------- */
