/* --------------- logo --------------- */
.logo {
  @include absoluteCenter();

  img { display: block; }
}

@media (min-width: $small) {
  .logo {

  }
}

@media (min-width: $medium) {
  .logo {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 16px;
    transform: translate(0, 0);
  }
}

@media (min-width: $large) {
  .logo {

  }
}
/* --------------- /logo --------------- */
