/* --------------- menu --------------- */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  &__btn {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    align-items: center;
    width: 26px;
    height: 17px;
    z-index: 1;
    cursor: pointer;

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background: #d11b1c;
      border-radius: 2px;
      transition: background .3s ease;
    }

    &:before {
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background: #d11b1c;
      transition: all .3s ease;
      border-radius: 2px;
      content: '';
    }

    &:after {
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #d11b1c;
      transition: all .3s ease;
      border-radius: 2px;
      content: '';
    }
  }

  &__wrap {
    width: 300px;
    padding-top: 40px;
    background: #dad8cb;
    transform: translate(calc(100% + 10px) ,0);
    transition: transform .3s ease;
  }

  &__item {
    display: block;
    position: relative;
    text-align: center;
    color: #d11b1c;
    top: 0;
    padding: 5px;
    border-top: 1px solid #fff;
    font-size: 12px;
    transition: color .3s ease;

    &:hover { color: #467a00; }
  }

  &__rain {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 12%;
    height: 150px;
    left: 6%;
    z-index: 1;

    &:before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300%;
      opacity: 0;
      background-size: 100% auto;
      background-repeat: repeat-y;
      content: '';
    }
  }
}

.menu_open {

  .menu__btn {

    span { background: transparent; }

    &:before {
      transform: rotate(45deg);
      top: 40%;
      background: #fff;
    }

    &:after {
      transform: rotate(-45deg);
      bottom: 40%;
      background: #fff;
    }
  }

  .menu__wrap { transform: translate(10px ,0); }
}

@media (min-width: $small) {
  .menu {

  }
}

@media (min-width: $medium) {
  .menu {
    position: relative;
    top: auto;
    right: auto;
    width: 792px;
    height: 150px;
    padding: 0;

    &__btn { display: none; }

    &__wrap {
      padding: 0;
      background: transparent;
      transform: translate(0 ,0);
      width: auto;
      display: flex;
      align-items: flex-start;
    }

    &__item {
      display: block;
      position: relative;
      text-align: center;
      color: #fff;
      top: 0;
      padding: 0;
      transition: top .3s ease;
      border: none;

      &:hover { color:#fff; }

      .menu__cloud {
        font-size: 14px;

        span { bottom: 15%; }
      }

      &:before {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 1px;
        height: 100vh;
        z-index: 1;
        background: #8e8e8e;
        content: '';
      }

      &:after {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 1px;
        height: 100vh;
        z-index: 1;
        background: #8e8e8e;
        content: '';
      }

      &:hover {
        overflow: visible;
        top: 10px;

        .menu__rain:before {
          animation: rain 2s linear forwards;
        }

        .menu__cloud {
          color: #2b89bc;
        }
      }

      .menu__cloud {
        display: block;
        position: relative;
        z-index: 2;
        background-size: contain;
        background-repeat: no-repeat;
        transition: color .3s ease;

        span {
          display: block;
          position: absolute;
          left: 0;
          bottom: 10%;
          width: 100%;
        }
      }

      &_1 {
        width: 21.036981%;
        padding-top: 3.6%;

        .menu__cloud {
          padding-bottom: 43.478261%;
          background-image: url("../img/nav1.png");
        }

        &:before { left: 27% }
        &:after { right: 17% }
        &:hover .menu__cloud { background-image: url("../img/nav1h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain1.png"); }
        }
      }

      &_2 {
        width: 14.155844%;
        padding-top: 10.3%;

        .menu__cloud {
          padding-bottom: 54.12844%;
          background-image: url("../img/nav2.png");
        }

        &:before { left: 10% }
        &:after { right: 7% }
        &:hover .menu__cloud { background-image: url("../img/nav2h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain2.png"); }
        }
      }

      &_3 {
        width: 12.337662%;
        padding-top: 3%;

        .menu__cloud {
          padding-bottom: 62.886598%;
          background-image: url("../img/nav3.png");
        }

        &:before { left: 23% }
        &:after { right: 23% }
        &:hover .menu__cloud { background-image: url("../img/nav3h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain3.png"); }
        }
      }

      &_4 {
        width: 13.896104%;
        padding-top: 11.2%;

        .menu__cloud {
          padding-bottom: 52.293578%;
          background-image: url("../img/nav4.png");
        }

        &:before { left: 19% }
        &:after { right: 26% }
        &:hover .menu__cloud { background-image: url("../img/nav4h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain4.png"); }
        }
      }

      &_5 {
        width: 11.038961%;
        padding-top: 4.3%;

        .menu__cloud {
          padding-bottom: 64.772727%;
          background-image: url("../img/nav5.png");
        }

        &:before { left: 25% }
        &:after { right: 33% }
        &:hover .menu__cloud { background-image: url("../img/nav5h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain3.png"); }
        }
      }

      &_6 {
        width: 18.571429%;
        padding-top: 9.9%;

        .menu__cloud {
          padding-bottom: 43.356643%;
          background-image: url("../img/nav6.png");
        }

        &:before { left: 40% }
        &:after { right: 16% }
        &:hover .menu__cloud { background-image: url("../img/nav6h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain1.png"); }
        }
      }

      &_7 {
        width: 9.61039%;
        padding-top: 6.8%;

        .menu__cloud {
          padding-bottom: 65.333333%;
          background-image: url("../img/nav7.png");

          span {
            opacity: 0;
          }
        }

        &:before { left: 17% }
        &:after { right: 13% }
        &:hover .menu__cloud { background-image: url("../img/nav7h.png"); }

        .menu__rain {

          &:before { background-image: url("../img/rain/rain6.png"); }
        }
      }
    }

    &__rain {
      display: block;
      bottom: -45%;
    }
  }
}

@media (min-width: $large) {
  .menu {

  }
}
/* --------------- /menu --------------- */

@-webkit-keyframes rain {
  from {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    bottom: -300%;
    opacity: 0;
  }
}
@keyframes rain {
  from {
    opacity: 0;
    bottom: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    bottom: -300%;
    opacity: 0;
  }
}