/*
*   Screen sizes
\*===================================================*/
$small: 640px;
$medium: 1024px;
$large: 1280px;

/*
*   fonts
\*===================================================*/
$font: 'SegoeUIRegular', sans-serif;
$font-bold: 'SegoeUIBold', sans-serif;
$font-semibold: 'SegoeUISemiBold', sans-serif;
$font-italic: 'SegoeUIItalic', sans-serif;
$font-light: 'SegoeUILight', sans-serif;
$font-light-italic: 'SegoeUILightItalic', sans-serif;
