/*
*   Colors
\*===================================================*/
$ui-primary: #494c4d;
$ui-orange: #f36f3f;

/*
*   Screen sizes
\*===================================================*/
$small: 640px;
$medium: 1024px;
$large: 1280px;